/* .title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #6ceaf5;
  text-shadow: 3px 3px 5px #bffaff;
} */

.lists-list {
  flex: 1 1 auto;
  padding-bottom: 10px;
}
