<!-- <app-header></app-header> -->
<!-- <main> -->
  <!-- <app-test-ui></app-test-ui> -->
  <!-- <app-task-create></app-task-create> -->
  <!-- <app-task-list></app-task-list> -->
<!-- </main> -->

<router-outlet></router-outlet>

<!-- <main>
  <div class="tasks-manager-container">
    <app-lists-list class="sidebar"></app-lists-list> -->
    <!-- <div class="sidebar"> -->
      <!-- <h1 class="title">Lists</h1>
      <mat-selection-list
        #colors
        [multiple]="false"
        class="lists-list"
      >
        <mat-list-option>Blue</mat-list-option>
        <mat-list-option>Yellow</mat-list-option>
        <mat-list-option>Pink</mat-list-option>
        <mat-list-option>Red</mat-list-option>

      </mat-selection-list>
      <button
        mat-flat-button
        class="add-list-button"
      >Add a list</button> -->
    <!-- </div> -->
    <!-- <app-task-list2 class="tasks-list-container"></app-task-list2> -->
    <!-- <div class="tasks-list-container">
      <h1 class="title">Tasks</h1>
      <mat-selection-list #colorsShade>
        <mat-list-option style="text-decoration: line-through;">Lighter</mat-list-option>
        <mat-list-option>Light</mat-list-option>
        <mat-list-option>Normal</mat-list-option>
        <mat-list-option>Dark</mat-list-option>
      </mat-selection-list>
    </div> -->
  <!-- </div>
</main> -->

