<p>
  sign-in works!
</p>

<div>
  <h3>Please Sign In</h3>
  <form [formgroup]="signindetails" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">
        Email Address
      </label>
      <input id="email" type="text" formControlName="email" />
    </div>

    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="text" formControlName="password" />
    </div>
    <button class="button" type="submit" (click)="signin()">Sign In</button>
  </form>
</div>
